## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
artifacts/
publish/

## Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

## Testes
TestResults/
*.trx
coverage*.json
coverage*.xml
